* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color:rgba(155, 10, 233, 1);
    color: #fff;

}

.header nav a{
    text-decoration: none;
    font-weight: bold;
    color: #fff;
}